<div class = "row">
        <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Announcements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">

                <li class="item col-xs-12">
                  <div class="product-info">
                      <h6><%= @announcement.title %></h6>
                      <h6><%= @announcement.content %></h6>
                    <br>
                    <h6 class="label label-default "><%= @announcement.created_at.to_date %></h6>
                    
                  </div>
                </li>


                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <% if current_user.info.is_teacher && !@announcement.subject.nil? && @announcement.subject.user_id == current_user.id %>
                <div class = "col-xs-12">
                <%= link_to "Delete", delete_announcement_path(@announcement),  method: :delete, data: {confirm: "Are you sure you want to delete this announcement?"}, :class => 'btn btn-sm btn-danger btn-flat col-xs-12 col-md-4 col-md-push-4 view-more' %>
                </div>
              <% end %>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>

</div>