<div class = "row">
        <div class="col-md-12">
<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Announcements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">
                <% @announcements.each do |a|%>
  
                <li class="item col-xs-12">
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title"><%= a.title %></a>
                    <h6 class="product-description"><%= a.content %></h6>
                    <h6 class="label label-warning pull-right"><%= a.subject.title %></h6>
                  </div>
                </li>
                <% end %>

                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
</div>