INDEX DAHVBOAERD
Dashboard
<% if current_user.info.is_teacher %>
TEACHER
<% else %>
STUDENT
<% end %>
ANNOUNCEMENT
<% @announcement.each do |announcement|%>
<tr>
   <h1><%= announcement.title %></h1>
   <h1><%= announcement.content %></h1>
   <h6><%= announcement.subject.title %></h6>
</tr>
<% end %>

SUBJECT
<% current_user.subjects.each do |subject|%>
<tr>
   <h1><%= subject.title %></h1>
</tr>
<% end %>