        <div class="container-fluid">
            <div class="row" id = "main-wrapper-about">
                <div class = "col-xs-12 top-title">
                    <div class = "col-xs-12 col-sm-6 col-sm-push-3">
                    <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/about_orig.png" alt="Cinque Terre"> 
                    </div>
                </div>
                <div class = "col-xs-12 what-wrapper">
                    <div class = "col-xs-12 col-md-6 col-md-push-3">
                        <h2>What?</h2>
                        <h4 class = "about-text">It is a private setting tuition offering both public and private student the opportunity to polish their strength and improve their weaknesses. The classroom will have a group of not more than 16 students and this setting will allow soft skill activities to be easily conducted. Research, presentation, writing and speaking skills are all tools that will allow the classroom to be more beneficial. Hence, the student will be able to learn happily with no pressure and therefore better result will be obtained. </h4>
                    </div>
                </div>
                <div class = "col-xs-12 why-wrapper">
                    <div class = "col-xs-12 col-md-6 col-md-push-3">
                        <h2>Why?</h2>
                        <h4 class = "about-text">Eduovc does not only offers tuition but all the soft skill training to be incorporated along with their school syllabus for character building. It is during their teenage years that they will learn more about themselves. Directing them rather telling them will encourage students to grow with their own trait of personality into the right direction. It will ensure that they are to shine in their own way to be a better person. They will be more fully equip for any future undertakings. That is how Eduvoc differs from any other centers because it is not all about learning but also providing guidance and assistance for them to develop their own skills.  </h4>
                    </div>
                </div>
                <div class = "col-xs-12 how-wrapper">
                    <div class = "col-xs-12 col-md-6 col-md-push-3">
                        <h3>How?</h3>
                        <h4 class = "about-text">Tutors play an important role in educating student of current generation. At Eduvoc, having the right and latest teaching method will inspire student to perform better. Therefore tutors here will have to undergo training on latest teaching method twice a year. We most certainly emphasize on soft skill. </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>