        <div class="container-fluid">
            <div class="row" >
                <div class = "col-xs-12 faq-wrapper">
                    <h4 class = "faq-text" >1) How do i inquire more ?</h4>
                    <h5 class = "faq-text" >Do give the number a call which is located at our contact tab above to inquire on any questions you have.</h5>
                    <h4 class = "faq-text" >2) Must student take all the subjects ??</h4>
                    <h5 class = "faq-text" >No, it is not necessary but it is best to have a consultation with the education advisor to ensure the best outcome for the student.</h5>
                    <h4 class = "faq-text" >3) Will the student be focused in the classroom with the total number of students ?</h4>
                    <h5 class = "faq-text" >It should not be a problem as most students that comes in will understand that the classroom ethics is vital to ensure maximum focus for all.</h5>
                    <h4 class = "faq-text" >4) What does the tuition provides ?</h4>
                    <h5 class = "faq-text" >We have notes, exercises, soft-skill activity & internal examination to evaluate students progress.</h5>
                    <h4 class = "faq-text" >5) How to register ? </h4>
                    <h5 class = "faq-text" >You may call the number to set a consultation date and fill the form upon meeting. </h5>
                    <h4 class = "faq-text" >6) How can i proceed with payment ?</h4>
                    <h5 class = "faq-text" >Payment can be made via cash or cash deposit, whichever is at your convenience. If via cash deposit, please provide receipt for reference.</h5>
                </div>
            </div>
        </div>
    </div>