        <div class="container-fluid">
            <div class="row" id = "main-wrapper">
                <div class = "col-xs-12 education-wrapper">
                    <h2>CLASS OF IGCSE SECONDARY 2 </h2>
                    <h4>​(FORM 4)</h4>
                </div>
                <div class = "col-xs-12 top-title">
                    <div class = "col-xs-12 col-md-8 col-md-push-2 img-wrapper">
                        <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/mg-2151_orig.jpg" alt="Cinque Terre"> 
                    </div>
                    <div class = "col-xs-12 col-md-8 col-md-push-2 img-wrapper">
                            <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/mg-2111_orig.jpg" alt="Cinque Terre"> 
                    </div>
                    <div class = "col-xs-12 col-md-8 col-md-push-2 img-wrapper">
                            <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/6041938_orig.jpg" alt="Cinque Terre"> 
                    </div>
                    <div class = "col-xs-12 col-md-8 col-md-push-2 img-wrapper">
                            <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/3648256_orig.jpg" alt="Cinque Terre"> 
                    </div>
                    <div class = "col-xs-12 col-md-8 col-md-push-2 img-wrapper">
                            <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/4301935_orig.jpg" alt="Cinque Terre"> 
                    </div>
                </div>
            </div>
        </div>
    </div>