        <div class="container-fluid">
            <div class="row" id = "main-wrapper">
                <div class = "col-xs-12 education-wrapper">
                    <div class = "col-xs-12 visible-xs visible-sm">      
                            <h1>Supercharge your class</h1>
                            <h4 class = "about-text">Add a learning system to your business</h4>                  
                    </div>
                    <div class = "col-md-6 visible-md visible-lg title-large-wrapper">   
                            <h2>Supercharge your class</h2>
                            <h4 class = "about-text">Add a learning system to your business</h4>                  
                    </div>
                    <div class = "col-md-6 visible-md visible-lg">
                            <img class="img-responsive" src="https://valehelle.github.io/landing_support/Educational_mini.jpg" alt="Cinque Terre"> 
                    </div>
                    <div class = "col-xs-12 visible-xs visible-sm">
                            <img class="center-block img-responsive " src="https://valehelle.github.io/landing_support/Educational_mini.jpg" alt="Cinque Terre"> 
                    </div>
                </div>
                <div class = "col-xs-12 vocational-wrapper">

                    <div class = "col-xs-12 visible-xs visible-sm">      
                            <h2>Login system</h2>
                            <h4 class = "about-text">Your students and teacher will have a login system.</h4>                  
                    </div>
                    <div class = "col-md-6 visible-md visible-lg">
                            <img class="img-responsive" src="https://valehelle.github.io/landing_support/Educational_mini_2.jpg" alt="Cinque Terre"> 
                    </div>
                    <div class = "col-md-6 visible-md visible-lg title-large-wrapper">   
                            <h1>Login System</h1>
                            <h4 class = "about-text">Your students and teacher will have a login system.</h4>                  
                    </div>

                    <div class = "col-xs-12 visible-xs visible-sm">
                            <img class="center-block img-responsive " src="https://valehelle.github.io/landing_support/Educational_mini_2.jpg" alt="Cinque Terre"> 
                    </div>
                </div>
                <div class = "col-xs-12 shared-wrapper">
                                <div class = "col-xs-12 visible-xs visible-sm">      
                                        <h1>Shared Knowledge</h1>
                                        <h4 class = "about-text">Your teacher can upload documents for their respective class and students can download it at anytime and anywhere</h4>                  
                                </div>
                                <div class = "col-md-6 visible-md visible-lg title-large-wrapper">   
                                                <h1>Shared Knowledge</h1>
                                                <h4 class = "about-text">Your teacher can upload documents for their respective class and students can download it at anytime and anywhere</h4>                  
                                </div>
                                <div class = "col-md-6 visible-md visible-lg">
                                        <img class="img-responsive" src="https://valehelle.github.io/landing_support/Educational_mini.jpg" alt="Cinque Terre"> 
                                </div>
                                <div class = "col-xs-12 visible-xs visible-sm">
                                        <img class="center-block img-responsive " src="https://valehelle.github.io/landing_support/Educational_mini.jpg" alt="Cinque Terre"> 
                                </div>
                </div>
                <div class = "col-xs-12 explain-wrapper">
                                
                                                    <div class = "col-xs-12 visible-xs visible-sm">      
                                                            <h2>Targeted Announcement</h2>
                                                            <h4 class = "about-text">Your teacher can create announcement that is only visible to their students.</h4>                  
                                                    </div>
                                                    <div class = "col-md-6 visible-md visible-lg">
                                                            <img class="img-responsive" src="https://valehelle.github.io/landing_support/Educational_mini_2.jpg" alt="Cinque Terre"> 
                                                    </div>
                                                    <div class = "col-md-6 visible-md visible-lg title-large-wrapper">   
                                                                <h2>Targeted Announcement</h2>
                                                                <h4 class = "about-text">Your teacher can create announcement that is only visible to their students.</h4>                 
                                                    </div>
                                
                                                    <div class = "col-xs-12 visible-xs visible-sm">
                                                            <img class="center-block img-responsive " src="https://valehelle.github.io/landing_support/Educational_mini_2.jpg" alt="Cinque Terre"> 
                                                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

