        <div class="container-fluid">
            <div class="row" id = "main-wrapper">
                <div class = "title-wrapper col-xs-12 blue-hue">

                    <div class = "col-md-12 title-large-wrapper">   
                            <h2>Tuition System for your business</h2>
                    </div>
                   <div class = "col-xs-6 col-xs-push-3 col-md-6 sub-register-large-wrapper">   
                            <%= link_to "Register", user_register_path, :class => 'btn btn-sm btn-success col-xs-12 col-md-4 col-md-push-4 '%>                 
                    </div>
                    <div class = "col-xs-12 col-sm-12 sub-header-large-wrapper">   
                             <img src="https://valehelle.github.io/landing_support/ic_lock_outline_white_48dp_1x.png" class="img-rounded" alt="Cinque Terre"> 
                            <h4 class = "about-text">Add a login system for your teachers and students.</h4>
                           
                    </div>
                    <div class = "col-xs-12 col-sm-5 col-sm-push-1 col-md-4 sub-header-large-wrapper">   
                                <img src="https://valehelle.github.io/landing_support/ic_announcement_white_48dp_1x.png" class="img-rounded" alt="Cinque Terre"> 
                            <h4 class = "about-text">Teacher can publish announcements and upload documents.</h4>
                        
                    </div>
                    <div class = "col-xs-12 col-sm-5 col-sm-push-1 col-md-4 col-md-push-3 sub-header-large-wrapper ">   
                        <img src="https://valehelle.github.io/landing_support/ic_cloud_download_white_48dp_1x.png" class="img-rounded" alt="Cinque Terre"> 
                            <h4 class = "about-text">Students can download documents and read the announcements.</h4>                     
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

