        <div class="container-fluid">
            <div class="row" id = "main-wrapper">
                <div class = "title-wrapper col-xs-12 blue-hue">

                    <div class = "col-md-12 title-large-wrapper">   
                            <h2>Education system for your tuition</h2>
                    </div>
                   <div class = "col-xs-6 col-xs-push-3 col-md-6 sub-register-large-wrapper" style = "margin-top: 50px; margin-bottom:150px;">   
                            <%= link_to "See Pricing", pricing_path, :class => 'btn btn-sm btn-success col-xs-12 col-md-4 col-md-push-4 '%>                 
                    </div>
                    <div class = "col-xs-12 col-sm-12 sub-header-large-wrapper" style = "background-color: rgb(120, 120, 214); padding-left:0 !important; padding-top:50px;">   
                            <h2 class = "about-text col-md-12" style = "margin-bottom:10px;">Login System.</h2>
                            <h4 class = "about-text col-md-12" style = "margin-bottom:30px;">Your teacher and student can login to their own account.</h4>
                             <img src="https://valehelle.github.io/landing_support/login_dashboard.PNG" class="img-responsive col-xs-10 col-xs-push-1 col-md-4 col-md-push-4" alt="Cinque Terre"> 
                           
                           
                    </div>
                    <div class = "col-xs-12 col-sm-12 sub-header-large-wrapper" style = "background-color:#25003e; padding-left:0 !important; padding-top:50px;">   
                        <h2 class = "about-text col-md-12" style = "margin-bottom:10px;">Announcement</h2>
                        <h4 class = "about-text col-md-12" style = "margin-bottom:30px;">Teacher can create announcement that can be seen only by their students registered to their class.</h4>
                        
                        <img src="https://valehelle.github.io/landing_support/dashboard.PNG" class="img-responsive col-md-8 col-md-push-2" alt="Cinque Terre"> 
                        
                    </div>
                    <div class = "col-xs-12 col-sm-12 sub-header-large-wrapper " style = "padding-left:0 !important; padding-top:50px;">
                            <h2 class = "about-text col-md-12" style = "margin-bottom:10px;">Upload documents</h2>                                                 
                            <h4 class = "about-text col-md-12" style = "margin-bottom:30px;">Teacher can upload teaching materials that can be downloaded by their students anywhere.</h4>                                                 
                            
                            <img src="https://valehelle.github.io/landing_support/subject.PNG" class="img-responsive col-md-8 col-md-push-2" alt="Cinque Terre"> 
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

