        <div class="container-fluid">
            <div class="row" id = "main-wrapper">
                <div class = "col-xs-12 top-title">
                    <div class = "col-xs-12 col-sm-6 col-sm-push-3">
                    <img class="center-block img-responsive " src="https://eduvoc.weebly.com/uploads/5/5/8/1/55815063/published/1-4.jpeg?1509620591" alt="Cinque Terre"> 
                    </div>
                </div>
            </div>
        </div>
    </div>