<div class="container-fluid">
        <div class="row" id = "main-wrapper">
            <div class = "title-wrapper col-xs-12">
                    <div class="pricing-section pricing-section-bc col-md-6 col-md-push-4"style = "margin-top:30px;" > 
                            <div class="pricing-section-item" style = " min-width:400px;"> 
                                <div class="pricing-section-top" > 
                                <h2 >Simple</h2> 
                                    <p class="pricing-section-item-description" style="margin: 1.75em 1em 1em;">Pay as you use.</p> 
                                    <span class="pricing-section-price" style="margin-bottom: 0.7em; display: block; "> RM15 </span> <p class="pricing-section-quiet">per class each month<br>&nbsp; </p> 
                                </div> 
                                <div class="pricing-section-bottom"> 
                                    <ul class="pricing-section-list">
                                        <li><span>Unlimited student</span></li> 
                                        <li><span>Unlimited teacher</span></li>
                                        <li><span>10GB storage per class</span></li>                                      </ul> 
                                </div> 
                            </div> 

        </div>
        </div>

            </div>


        </div>
    </div>
</div>