<div class = "row">

        <div class="col-xs-12 col-md-8 col-md-push-2">
            <div class="box box-success col-xs-12">
                        <div class="box-header with-border">
                          <h3 class="box-title">Subjects</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body col-xs-12">
                          <ul class="products-list product-list-in-box">
                            <% @subjects.each do |s|%>
              
                            <li class="item col-xs-12">
                              <div class="product-info">
                                  <%= link_to s.title, subject_path(s), :class => 'product-title' %>
                                <br>
                              </div>
                            </li>
                            <% end %>
            
                            <!-- /.item -->
                          </ul>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box-footer -->
                      </div>
                    
                      <!-- /.box -->
                    </div>
</div>