.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background:#7386d5 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #7386d5;
    color:white;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #7386d5 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #7386d5;
}

.pagination .disabled {
    color: #C0C0C0;
}