.top-title{
    margin-top:20px;
    
}
.education-wrapper{
    background: #ffab4a;
    background: -webkit-linear-gradient(left, #f06e47, #ffab4a);
    background: -moz-linear-gradient(left, #f06e47, #ffab4a);
    background: -o-linear-gradient(left, #f06e47, #ffab4a);
    background: linear-gradient(to right, #f06e47, #ffab4a);
    padding-right: 0;
    color:white;
}
.vocational-wrapper{
    background: #eb5a46;
    color:white;
}
.explain-wrapper{
    padding-top: 50px;
    background: #7b8fd1;
    color:white;
    padding-bottom: 50px;
}
.how-wrapper{
    background: #ffab4a;
    background: -webkit-linear-gradient(left, #f06e47, #ffab4a);
    background: -moz-linear-gradient(left, #f06e47, #ffab4a);
    background: -o-linear-gradient(left, #f06e47, #ffab4a);
    background: linear-gradient(to right, #f06e47, #ffab4a);
    padding-right: 0;
    color:white;
}
.why-wrapper{
    background: #eb5a46;
    color:white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.what-wrapper{
    padding-top: 50px;
    background: #7b8fd1;
    color:white;
    padding-bottom: 50px;
}
#main-wrapper{
    text-align: center;
}

.edu-title-img {
    margin: 0 auto;
}
.about-text{
    line-height: 1.75 !important;

}
.faq-text{
    line-height: 1.75 !important;

}
.img-wrapper{
    margin-top: 10px;
}
.title-large-wrapper{
    margin-top: 10%
}
