
<div class = "row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
        <div class="box box-success col-xs-12">
                    <div class="box-header with-border">
                      <h3 class="box-title">Upload</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body col-xs-12">
                      <ul class="products-list product-list-in-box">
                        <%= form_for @document, :html => {:multipart => true} do |f| %>
                            <%= f.file_field :doc, :class => 'upload-document' %>

                        <!-- /.item -->
                      </ul>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                       <% if current_user.info.is_teacher %>
                        <%= f.submit "Upload",:class => 'btn btn-sm btn-success btn-flat col-xs-12 view-more' %>
                      <% end %>
                      <% end %>
                      
                    </div>
                    <!-- /.box-footer -->
                  </div>
                
                  <!-- /.box -->
                </div>
        </div>