<div class = "row">
        <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Admin</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>email</th>
                            <th>Is teacher</th>
                            <th>Is admin</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |a|%>
                                <tr>
                                    <td><%= a.email %></td>
                                    <td><%= a.info.is_teacher %></td>
                                    <td><%= a.info.is_admin %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <div class = "col-xs-12">
                </div>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>

</div>